html {
  font-family: sans-serif;
  background: #f0f0f0;
}

.inbox {
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.8);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 10px;
  transition: background 0.2s;
  flex: 1;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

div p:last-of-type {
  text-align: right;
}
